<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="home/homeSignedIn">
<head>
<script th:inline="javascript">
$(document).ready(function(){
	
	
	var summarydata;

	   var selectedSection = $('#First_section_id').val();
	  var  selectedAsseesse= $("#selectAssessee").val();
	  var role=$("#roleid").val();
	  
	  $('select option[value="' + selectedAsseesse + '"]').attr("selected","");
	  $('option[name="' + role + '"]').attr("selected","selected");
	  
	

       if (selectedAsseesse > 0) {

    	   
           $('.test').removeClass("active test").addClass("test");

           $('li[name="' + selectedSection + '"]').addClass("active test");
           
       	
       	var data={selectedAsseesseID:$("#selectAssessee").val(),
       			sectionToLoad:selectedSection,
       			role_id:role
       			};
           
      
       	ajaxCall(data);
      
       	
       }
	
	
	
	
	
	
       $("#submitbtn").on("click",function(){

    
    	   
    	
    	  
    	   if($("#manager_rating").val() == null)
    		   {
    		  
    		  
    		  $("#manager_rating").css({"border-color": "#a94442"}); 
    		  
    		  $("#errorspan").show();
    		  
    		  
    		  return false;
    		   
  
    		   
    		   }else
    			   {
    			   return true;
    			   
    			   }
    	   
    	   
    	  
    	   
       });
       

       $("#submitbtn_summary").on("click",function(){
    	   
    
     	  	var data={selectedAsseesseID:$("#selectAssessee").val(),
           			role_id:$(selectAssessee).children(":selected").attr("name")
           			};
               
          
           	ajaxCallSummary(data);
    	    
    	   
    	   
    /* 		<th:block th:each="section : ${allSectionsPoint}">
			
			
			<p class="label label-success score-container">
				<em style="word-wrap: break-word; white-space: normal;" class="score-title">Performance Assessment</em>
				<em class="score">0.4</em>
			</p>
		
		</th:block> */
    	   
    	   
	   
	
		/* $("#sectionpoints").append($"<em style="style" class="+titleclass+">"+ mahesh1+ "</em>"); */
		/* $("#sectionpoints").append($"<em class="+scoreclass+">"+ i + "</em>");
		 */
    	   
    	   
    	   
       });
       
	
	
	
	
	
	
	
	
	// on select of Assessee
$("#selectAssessee").on('change', function(){

	
	if($("#selectAssessee").val() > 0)
	{
	
		$("#section0").trigger("click");
 	  $("#roleid").val($(selectAssessee).children(":selected").attr("name"));
 
	

	}else
		{
		$("#tbody").empty();
		 $("#tbody").append('<h1>Please Select Assessee</h1>');
		
		}
	
	
	});

$(".test").on("click",function(){

	$("#current_section_id").val($(this).attr("name"));
	
	var id = $(selectAssessee).children(":selected").attr("name");
	

	
	if($("#selectAssessee").val()==0)
   	 {	$("#tbody").empty();
	 $("#tbody").append('<h1>Please Select Assessee</h1>');
   	}else
   		{
	
	
	
	$("#tbody").empty();
	
	var data={selectedAsseesseID:$("#selectAssessee").val(),
			sectionToLoad:$(this).attr("name"),
			role_id:$(selectAssessee).children(":selected").attr("name")
		
			};
	
	
	 ajaxCall(data);
	 $("#sectionid").val($(this).attr("name"));
	 
   		}
});
	

function ajaxCall(data)
{


	
	
	
	   $.ajax({
           url: "ajax/assesseeObjectives",
           type: 'GET',
           data: data,
           success: function(response) {
        	  
        	   
        	   
			if(response=="")
           {
				
				
				 $("#tbody").empty();
				 $("#tbody").append('<h3>No Objectives For this Section ! </h3>');
           }else{
        	   
        	   

           	 $("#tbody").empty();
                    	 
    
           	 
             for (row in response) {
            	 var objective="objective"+response[row].id;
            	 var weightage="weightage"+response[row].id;
            	 var selfRating="selfRating"+response[row].id;
            	 var selfScore="selfScore"+response[row].id;
            	 var managerRating="managerRating"+response[row].id;
            	 var managerScore="managerScore"+response[row].id;
            	 var managerComments="managerComments"+response[row].id;
            var btn="btn"+response[row].id;
            	 
            	 
            	 
            	 var classValue=" text-center";
            	 var hidden="visibility:hidden";
            	 var comments=response[row].manager_comments;
            	 
            	 if(comments == null)
            		 {
            		 comments=""; 
            		 }
            	 
            	 
            	  var rowdata = $(  "<tr id="+ response[row].id +" />")
      		    $("#objective_table").append(rowdata); 
      		/*     rowdata.append($("<td id="+objective+">" + response[row].description + "</td>"));
      		    rowdata.append($("<td id="+weightage+" class="+classValue+">" + response[row].weightage.weightage + "</td>"));
      		    rowdata.append($("<td id="+selfRating+" class="+classValue+">" + response[row].self_rating.score + "</td>"));
      		    rowdata.append($("<td id="+selfScore+" class="+classValue+">" + response[row].self_score + "</td>"));
    		    rowdata.append($("<td id="+managerRating+" class="+classValue+">" + response[row].manager_rating.score + "</td>"));
    		    rowdata.append($("<td id="+managerScore+" class="+classValue+">" + response[row].manager_score + "</td>"));
    		    rowdata.append($("<td id="+managerComments+"  style="+hidden+"   class="+classValue+">" + comments + "</td>")); 
    		
    		     rowdata.append($("<td>" + '<button id="'+btn+'" name="'+response[row].id+'"  class="btn btn-info btn-edit" data-toggle="modal" data-target="#managermodal" type="button"><i class="fa fa-pencil"></i></button>' + "</td>")); 
    		    */
    		     
    		     
    		     rowdata.append($("<td id="+objective+">" + response[row].description + "</td>"));
    	            rowdata.append($("<td id="+weightage+" class="+classValue+" name="+response[row].weightage.id+" >" + response[row].weightage.weightage + "</td>"));
    	            rowdata.append($("<td id="+selfRating+" class="+classValue+" name="+response[row].self_rating.id+">" + response[row].self_rating.score + "</td>"));
    	            rowdata.append($("<td id="+selfScore+" class="+classValue+">" + response[row].self_score + "</td>"));
    	          rowdata.append($("<td id="+managerRating+" class="+classValue+" name="+response[row].manager_rating.id+">" + response[row].manager_rating.score + "</td>"));
    	          rowdata.append($("<td id="+managerScore+" class="+classValue+">" + response[row].manager_score + "</td>"));
    	          rowdata.append($("<td id="+managerComments+"  style="+hidden+"   class="+classValue+">" + comments + "</td>")); 

    	           rowdata.append($("<td>" + '<button id="'+btn+'" name="'+response[row].id+'"  class="btn btn-info btn-edit" data-toggle="modal" data-target="#managermodal" type="button"><i class="fa fa-pencil"></i></button>' + "</td>")); 

    		     
    		     
    		     
    		     
    		     
    		     
    		     
    	
             
             }
           	 
             
             
		     $(".btn-edit").on( "click", function(){
		    		
		    	 $("#errorspan").hide();
		   	  $("#manager_rating").css({"border-color": "#d2d6de"}); 
		 
		    	 
		   
		    	  var objective_id='#'+'objective'+$(this).attr("name");
		    	  var weightage_id='#'+'weightage'+$(this).attr("name");
		    	  var managerRating_id='#'+'managerRating'+$(this).attr("name");
		    	  var managerScore_id='#'+'managerScore'+$(this).attr("name");
		    	  var managercomment='#'+'managerComments'+$(this).attr("name"); 
		    	    var selfRating_id='#'+'selfRating'+$(this).attr("name");
		    	  var selfScore_id='#'+'selfScore'+$(this).attr("name");
		    	  

		    	  $("#objective_modal").val($(objective_id).text());
		   
		    	  
		    	  if($(weightage_id).text() ==0)
		    		  {
		    		  $("#weightage").val(1);
		    		  
		    		  }else
		    			  {
		    			  
		    			  $("#weightage").val($(weightage_id).attr('name'));
		    			  }
		    	 
		    	
		    	  if($(managerRating_id).text() ==0)
	    		  {
		    		  $("#manager_rating").val(1);
	    		  
	    		  }else
	    			  {
	    			  
	    			  $("#manager_rating").val($(managerRating_id).attr('name'));
	    			  }
	    	 
		    	  
		    	 
		    	
		    	  $("#manager_score").val($(managerScore_id).text());
		    	  $("#selfrating").val($(selfRating_id).text());
		    	  $("#selfscore").val($(selfScore_id).text());
		    	  $("#objectiveid").val($(this).attr("name"));
		    
		    	  $("#manager_comments").val($(managercomment).text());
		    	  
		    	  
		    	  if([[${#authorization.expression('hasAnyRole(''ASSESSOR'',''MANAGER'')')}]])
		 		 {
		 		$("#objectiveSection").children().prop('disabled',true);
		 		$("#employeeSection").find("input,textarea").prop("disabled",true);
		 		$("#manager_score").prop("disabled",true);
		 		$("#objective_modal").prop("disabled",true);
		 	
		 		 }
		    	  
		    	  
		    	  
		    	  }); 
           	 
            
           } 

            
           },
           error: function(jqXHr, reponse, errorThrown) {
               // ... Process the result ...
               alert(errorThrown);
           }
		}); 
		//ajax function ends 
	
   		
   		};
   		
   		
   	    $("#summaryclose").on( "click", function(){
   	    

   	    	overlayclose();
   	    });
   	    
   	   $("#modal_close").on( "click", function(){
      	    
      	   
      	    	overlayclose();
      	    });
   	    
   	    

   	    
   	 
   	 function overlayclose()
   	 {

	    	for (row in summarydata) {
	   		    var point="point"+summarydata[row].id;
  		      
  		      var value=summarydata[row].section_point;
  		   var pointvalue=value.toFixed(2);
  		      
  		$('input[name="' + point + '"]').val(0);
  		       
  		 
  		
  		            	
  		            	
  		            }
   		 
   	 };
   	 
   	 
   	 
   	 
   	    
   	    
   		function ajaxCallSummary(data)
   		{ 			
   			
   			$('#summaryrating').modal('show');
   			
   			   $.ajax({
   		           url: "ajax/GetSummaryRating",
   		           type: 'GET',
   		           data: data,
   		           success: function(response) {
   		        	        	   
   		        	 $('#summaryrating').modal('show'); 
   		        	   
   		        	   
   					if(response=="")
   		           {
   						
   						
   						alert("no data in ajaxCallSummary  ")
   		           }else
   		        	   {
   		        	   
   		         	
   		        	 summarydata=response;
   		         	
   		        	
   		        	 var finalweightage=0;
   		        	 var section_value=0;
   		        	 var section;
   		        	 
   		            for (row in response) {
   	   		    	
   		       
   		      var point="point"+response[row].id;
   		      
   		      var value=response[row].section_point;
   		   var pointvalue=value.toFixed(2);
   		      
   		$('input[name="' + point + '"]').val(pointvalue);
   		       
   		section="section_value"+response[row].id;
   		
   		section_value=$('#'+section).val();
            
   		
   		
       	finalweightage=finalweightage+section_value*pointvalue;
   		
   		            	
   		            }
   		            
   		         	   
   		         $('#weightage_score').val(finalweightage.toFixed(2));  
   		         	   
   		        	   
   		        	   }
   		        	   
   		        	   
   		        	   
   		        	   
   		        	   
   		        	   
   		           },
   		        error: function(jqXHr, reponse, errorThrown) {
   	               // ... Process the result ...
   	               alert(errorThrown);
   	           }
	


   			   });
   			   
   			   
   		}; 


	 	
	 	
	 	





});
</script>

</head>
<body>
	<div layout:fragment="content">
		<form method="post" action="#"
			th:action="@{/assessor/SaveSectionData}"
			th:object="${AssessorAssessmentBean}">

			<input type="hidden" id="First_section_id" name="First_section_id"
				th:value="${sectionToLoad}" /> <input type="hidden" id="roleid"
				name="roleid" th:value="${roleid}" /> <input type="hidden"
				id="current_section_id" name="current_section_id" />



			<!-- Content Wrapper starts -->
			<div>
				<!-- Content Header starts -->
				<section class="content-header">
					<h1>Manager</h1>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
						<li class="active">Here</li>
					</ol>
				</section>
				<!-- Content Header ends -->

				<!-- Main content starts -->
				<section class="content">


					<!-- Manager header panel starts -->
					<div class="box">
						<div class="box-body">
							<div class="row margintop15">
								<div class="col-md-6">
									<div class="form-group">
										<select class="form-control" id="selectAssessee"
											th:name="${selectedAsseses}" th:field="*{employee_id}">

											<option selected="selected" value="0">Select
												Employee</option>
											<option th:each="assessor : ${assessorAssessees}"
												th:text="${assessor.fullname}" th:value="${assessor.id}"
												th:name="${assessor.role_id}">Employee one</option>

										</select>
									</div>
								</div>
								<div class="col-md-6"></div>
							</div>

							<hr class="margintop10" />
							<div class="form-group text-right">
								<button id="submitbtn_summary" class="btn btn-info btn-green"
									type="button">
									<i class="fa fa-file-text">&nbsp;</i> Summary Ratings
								</button>

								<!-- //data-target="#summaryrating" data-toggle="modal" -->

							</div>

							<div class="nav-tabs-custom margintop10 noboxshadow">
								<div class="scroller scroller-left">
									<i class="glyphicon glyphicon-chevron-left"></i>
								</div>
								<div class="scroller scroller-right">
									<i class="glyphicon glyphicon-chevron-right"></i>
								</div>
								<div class="wrapper-tabs">
									<ul class="nav nav-tabs list" id="myTab">
										<th:block th:each="section, iterStat : ${allSections}"
											th:field="*{sectionid}">
											<li th:if="${iterStat.index}==0" class="test active"
												th:name="${section.getId()}"><a
												th:id="'section'+${iterStat.index}" data-toggle="tab"
												href="#par" th:text="${section.getSection()}">Performance</a></li>

											<li th:if="${iterStat.index}!=0" th:name="${section.getId()}"
												class="test"><a th:id="${iterStat.index}"
												data-toggle="tab" href="#car"
												th:text="${section.getSection()}">Competancy</a></li>
										</th:block>
										<!-- <li><a data-toggle="tab" href="#pqar">Personal Qualities</a></li> -->
									</ul>
								</div>
								<div class="tab-content">
									<div id="par" class="tab-pane active">

										<div class="box-body table-responsive">
											<table id="objective_table" class="table">
												<thead>
													<tr>
														<th>Objectives</th>
														<th>Weightage</th>
														<th>Self Rating</th>
														<th>Self Score</th>
														<th>Manager Rating</th>
														<th>Manager Score</th>
														<th></th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody id="tbody">
													<th:block th:each="objective,itrIndex: ${allObjectives}">
														<tr id="tRow" th:name="${objective.getId()}">
															<td class="col-md-10 col-xs-7"
																th:text="${objective.getObjectiveDesc()}"
																th:id="'objectiveDesc'+${objective.getId()}">
																Delivering to the Customer's satisfaction/ expectation</td>
															<td class="col-md-1 col-xs-3 text-center"
																th:id="'wightage'+${objective.getId()}">0</td>
															<td class="col-md-1 col-xs-3 text-center"
																th:id="'selfRating'+${objective.getId()}">0</td>
															<td class="col-md-1 col-xs-3 text-center"
																th:id="'selfScore'+${objective.getId()}">0</td>
															<td class="col-md-1 col-xs-3 text-center"
																th:id="'managerRating'+${objective.getId()}">0</td>
															<td class="col-md-1 col-xs-3 text-center"
																th:id="'managerScore'+${objective.getId()}">0</td>


															<td class="col-md-1 col-xs-1 text-center"
																th:id="${objective.getId()}">
																<button class="btn btn-info btn-edit"
																	data-toggle="modal" data-target="#managermodal"
																	type="button">
																	<i class="fa fa-pencil"></i>
																</button>
															</td>
														</tr>
													</th:block>
												</tbody>
											</table>
										</div>

										<div class="clearfix"></div>
									</div>





								</div>





							</div>





						</div>
					</div>
					<!-- Manager header panel ends -->


				</section>
				<!-- Main content ends -->
			</div>
			<!-- Content Wrapper ends -->
			<!-- Manager Modal Starts -->




			<input type="hidden" id="objectiveid" name="objectiveid"
				th:field="*{objectiveid}" th:value="${objectiveid}" /> <input
				type="hidden" id="sectionid" name="sectionid"
				th:field="*{sectionid}" th:value="${sectionid}" />



			<div class="modal fade" id="managermodal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Add Ratings and
								Comments</h4>
						</div>
						<div class="modal-body">
							<div class="row" id="objectiveSection">
								<div class="col-md-9">
									<div class="form-group" id="objectiveDesc">
										<label class="sr-only">Objectives</label>
										<textarea id="objective_modal" row="2" class="form-control"
											Placeholder="Objectives"></textarea>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group" id="weightagediv">


										<select class="form-control" id="weightage"
											th:field="*{weightage}">

											<option selected="selected" value="1">Select
												Weightage</option>
											<option th:each="weight : ${weightageList}"
												th:text="${weight.weightage}" th:value="${weight.id}">Employee
												one</option>

										</select>


									</div>
								</div>
							</div>


							<div class="row" id="employeeSection">
								<div class="col-md-12">
									<h4>Assesse Self Rating</h4>
									<hr class="marginbottom15 margintop5" />
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="sr-only">Self Rating</label> <input
											id="selfrating" type="text" class="form-control"
											Placeholder="Self Rating" />
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="sr-only">Self Score</label> <input
											id="selfscore" type="text" class="form-control"
											Placeholder="Self Score" />
									</div>
								</div>
								<div class="col-md-6"></div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="sr-only">Employee Comments</label>
										<textarea id="comments" row="2" class="form-control"
											Placeholder="Employee Comments"></textarea>
									</div>
								</div>
							</div>

							<div class="row" id="managerSection">
								<div class="col-md-12">
									<h4>Assessor Rating</h4>
									<hr class="marginbottom15 margintop5" />
								</div>
								<div class="col-md-3"
									th:classappend="${#fields.hasErrors('manager_rating')}? 'has-error'">
									<div class="form-group">
										<label class="sr-only">Manager Rating</label>
										<!-- <input id="manager_rating"  th:field="*{manager_rating}"  type="text" class="form-control" Placeholder="Manager Rating" /> -->

										<select class="form-control" id="manager_rating"
											th:field="*{manager_rating}">

											<option selected="selected" disabled="disabled" value="1">Select
												Rating</option>
											<option th:each="rating : ${managerRating}"
												th:text="${rating.score}" th:value="${rating.id}">Employee
												one</option>

										</select> <span class="help-block"
											th:if="${#fields.hasErrors('manager_rating')}"
											th:errors="*{manager_rating}">Incorrect email</span>


									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="sr-only">Manager Score</label> <input
											id="manager_score" type="text" class="form-control"
											Placeholder="Manager Score" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span id="errorspan" style="color: #a94442"> Please
											select Rating ! </span>

									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="sr-only">Manager Comments</label>
										<textarea id="manager_comments" th:field="*{manager_comments}"
											row="2" class="form-control" Placeholder="Manager Comments"></textarea>
									</div>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<i class="fa fa-times"></i> Close
							</button>
							<button id="submitbtn" type="submit" class="btn btn-primary">
								<i class="fa fa-check"></i> Save
							</button>
						</div>
					</div>
				</div>
			</div>





			<!-- Manager Modal ends -->



			<!-- Summary Rating Modal Starts -->
			<div class="modal fade" id="summaryrating" tabindex="-1"
				role="dialog" aria-labelledby="summaryratinglabel"
				data-keyboard="false" data-backdrop="static">
				<div id="summaryratingcontent" class="modal-dialog modal-lg"
					role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button id="modal_close" type="button" class="close"
								data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="summaryratinglabel">Summary
								Rating</h4>
						</div>
						<div class="modal-body">
							<div class="row margintop0">
								<div class="padding10">
									<h4 class="margintop0 marginbottom5">
										<strong>Organisation weightage of different
											parameters</strong>
									</h4>

									<th:block th:each="section : ${allSections}">

										<p id="'section'+${section.getId()}"
											class="label label-info score-container">
											<em class="score-title"><input type="text"
												readonly="true" th:value="${section.getSection()}" /> </em> <em
												class="score"><input
												th:id="'section_value'+${section.getId()}" type="text"
												th:value="${section.getSection_weightage()}" readonly="true" />
											</em>
										</p>

									</th:block>



								</div>
							</div>
							<div class="row">
								<div id="sectionpointsdiv" class="padding10">

									<h4 class="margintop0 marginbottom5">
										<strong>Summary Score</strong>
									</h4>

									<th:block th:each="section : ${allSectionsBeans}">

										<p th:id="'section'+${section.getId()}"
											th:name="${section.getId()}"
											class="label label-success score-container">
											<em style="word-wrap: break-word; white-space: normal;"
												class="score-title"><input th:id="${section.getId()}"
												th:name="'title'+${section.getId()}" type="text"
												readonly="true" th:value="${section.getSection()}" /> </em> <em
												class="score"><input th:id="${section.getId()}"
												th:name="'point'+${section.getId()}" type="text"
												readonly="true" value="0"></input></em>

											<!-- <em class="score"   th:id="${section.getSection_manager_score()}" th:name="${section.getSection_max_score()}"><input type="text" readonly="true" th:value="${section.getSection_manager_score()/section.getSection_max_score() * maxrating}"/> </em> -->
										</p>

									</th:block>

									<!-- 	
									<p  id="sectionpoints" class="label label-success score-container">
										<em style="word-wrap: break-word; white-space: normal;" class="score-title">test Score</em>
										<em class="score">0.2</em>
									</p>
								 -->



									<h4 class="margintop20 marginbottom5">
										<strong>Weightage Score</strong>
									</h4>

									<p class="label label-info score-container">
										<em style="word-wrap: break-word; white-space: normal;"
											class="score-title"><input type="text" readonly="true"
											value="Weightage score" /></em> <em class="score"><input
											id="weightage_score" type="text" readonly="true" value="0" /></em>

									</p>

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="summaryclose" type="button" class="btn btn-default"
								data-dismiss="modal">
								<i class="fa fa-times"></i> Close
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>