<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="home/homeSignedIn">
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script th:inline="javascript">
$(document).ready(function(){



	   var selectedSection = $('#First_section_id').val();
	  var  selectedAsseesse= [[${assesseeid}]];

	  var role=$("#roleid").val();
	  var projectId=[[${projectid}]];
	  var summarydata;
      var roleid=[[${roleid}]];


	 if([[${assessorAssessees}]]==null)
		 {

		 $("#setHeaderH1").text("Employee");
		 //for employee screen
		 $("#selectAssesseeRow").hide();
		 $("#margin").hide();
		 $("#closeDispute").hide();
		 $("#dispute").hide();
		 $("#agree").hide();
		 $("#assessorSubmit").hide();
		 //closeDispute assesseSubmit assessorSubmit dispute
		 //selectRoleRow
		 if([[${allObjectives}]]!=null)
			 {
			 $("#selectRoleRow").hide();
			 $("#margin").css("display","none");
				
		     $('.test').removeClass("active test").addClass("test");

	          $('li[name="' + [[${sectionToLoad}]] + '"]').addClass("active test");


	      	var data={selectedAsseesseID:0,
	      			sectionToLoad:[[${sectionToLoad}]],
	      			role_id:[[${allRolesofCurrentUser}]][0].roleId,
	      			projectId:[[${allRolesofCurrentUser}]][0].projectId,
	      			assesseeAssessorId:[[${allRolesofCurrentUser}]][0].assesseeAssessorId
	      			};

$("#assesseeAssessorStatus").val([[${allRolesofCurrentUser}]][0].assessmentStatus);


$("#projectId").val([[${allRolesofCurrentUser}]][0].projectId);
$("#roleid").val([[${allRolesofCurrentUser}]][0].roleId);
$("#assesseeAssessorId").val([[${allRolesofCurrentUser}]][0].assesseeAssessorId);



	      	ajaxCall(data);

//Agree


        			  	if([[${allRolesofCurrentUser}]][0].assessmentStatus=="closed" || [[${allRolesofCurrentUser}]][0].assessmentStatus=="Agree")
            			  {

        			  		$("#dispute").hide();
        			  		$("#assesseSubmit").hide();
        			  		$("#agree").hide();


            			  }else if([[${allRolesofCurrentUser}]][0].assessmentStatus=="AssessementCompleted")
            			  {
            				 $("#dispute").show();
            				 $("#agree").show();
            				 $("#assesseSubmit").hide();
            			  }

			 }else{

				 if([[${projectId}]]!=null){

				  $("#selectedRole").find("option[name="+[[${projectId}]]+"]").each(function()
						  {


					if(  $(this).val()==[[${roleid}]])
						{
						if($(this).attr("accessKey") == [[${assesseeAssessorId}]])
							{
						  $('.test').removeClass("active test").addClass("test");

				          $('li[name="' + [[${sectionToLoad}]] + '"]').addClass("active test");
						$(this).attr("selected","selected");
				     	var data={selectedAsseesseID:0,
				      			sectionToLoad:[[${sectionToLoad}]],
				      			role_id:[[${roleid}]],
				      			projectId:[[${projectId}]],
				      			assesseeAssessorId:[[${assesseeAssessorId}]]
				      			};


				      	ajaxCall(data);
						}
						}


						  });

				  assesseeButtonDivhandler();
				 }else{
		 $("#selectedAssesseeSummary").hide();
		 $("#selectedAssesseeBody").hide();
		 $("#margin").hide();
		 $("#buttonsDiv").hide();
				 }
			 }
		 }
	 else{
	//	//for Assessor screen




	   $("#closeDispute").hide();
		 $("#dispute").hide();
		 $("#assesseSubmit").hide();
		 $("#agree").hide();

		 //closeDispute assesseSubmit assessorSubmit dispute


	  $("#selectAssessee").find("option[id="+[[${projectId}]]+"]").each(function()
		      {



		      if(selectedAsseesse == $(this).val())
		      {



		     		if($(this).attr("name") == roleid)
		    		 {

		     			if($(this).attr("accessKey") == [[${assesseeAssessorId}]])
			     			{

		  			    $(this).attr("selected","selected");
			     			}
		    		 }


		      }


		        });









      if (selectedAsseesse > 0) {

    	  assesorButtonDivhandler();

          $('.test').removeClass("active test").addClass("test");

          $('li[name="' + selectedSection + '"]').addClass("active test");


      	var data={selectedAsseesseID:$("#selectAssessee").val(),
      			sectionToLoad:selectedSection,
      			role_id:$(selectAssessee).children(":selected").attr("name"),
      			projectId:$(selectAssessee).children(":selected").attr("id"),
      			assesseeAssessorId:$(selectAssessee).children(":selected").attr("accessKey")
      			};


      	ajaxCall(data);


      }

      if($("#selectAssessee").val()!=0)
          {

    	  $("#selectRoleRow").hide();

      /*     $('.test').removeClass("active test").addClass("test");

          $('li[name="' + selectedSection + '"]').addClass("active test");


      	var data={selectedAsseesseID:$("#selectAssessee").val(),
      			sectionToLoad:[[${sectionToLoad}]],
      			role_id:[[${roleid}]]
      			};


      	ajaxCall(data); */
          }else{

        	  $("#buttonsDiv").hide();
        	  $("#selectRoleRow").hide();
		 $("#selectedAssesseeSummary").hide();
		 $("#selectedAssesseeBody").hide();
		 $("#margin").hide();
          }

		 }

	 function assesseeButtonDivhandler()
	 {
	 	  var assesseesList=[[${allRolesofCurrentUser}]];
	 	  for(assessee in assesseesList)
	     	  {

	     		  if(assesseesList[assessee].roleId==$("#selectedRole").val())
	         		  {
	     			  if(assesseesList[assessee].assesseeAssessorId==$(selectedRole).children(":selected").attr("accessKey"))
	         			  {
	     				 $("#assesseeAssessorStatus").val(assesseesList[assessee].assessmentStatus);
	         			  	if(assesseesList[assessee].assessmentStatus=="closed" || assesseesList[assessee].assessmentStatus=="Agree")
	             			  {

	         			  		$("#dispute").hide();
	         			  	 $("#agree").hide();
	         			  		$("#assesseSubmit").hide();


	             			  }else if(assesseesList[assessee].assessmentStatus=="AssessementCompleted")
	             			  {
	             				 $("#dispute").show();
	             				 $("#agree").show();
	             				 $("#assesseSubmit").hide();

	             			  }else if(assesseesList[assessee].assessmentStatus=="notAgree"){
	             					$("#dispute").hide();
	             					$("#agree").hide();
		         			  		$("#assesseSubmit").hide();
		             			  }else{
		             					$("#dispute").hide();
		             					$("#agree").hide();
			         			  		$("#assesseSubmit").show();
			             			  }
	         			  }
	         		  }

	     	  }
	 	}

function assesorButtonDivhandler()
{
	  var assesseesList=[[${assessorAssessees}]];
	  for(assessee in assesseesList)
    	  {

    	  if(assesseesList[assessee].id==$("#selectAssessee").val())
        	  {
    		  if(assesseesList[assessee].assesseeAssessorId==$(selectAssessee).children(":selected").attr("accessKey"))
        		  {
    			  if(assesseesList[assessee].projectId==$(selectAssessee).children(":selected").attr("id"))
        			  {
    				  $("#assesseeAssessorStatus").val(assesseesList[assessee].status);
        			  	if(assesseesList[assessee].status=="AssessementCompleted")
            			  {
        			  	   $("#closeDispute").hide();
        			  	 $("#assessorSubmit").hide();
            			  }else if(assesseesList[assessee].status=="closed" || assesseesList[assessee].status=="Agree")
            			  {
            				  $("#closeDispute").hide();
             			  	 $("#assessorSubmit").hide();
            			  }else if(assesseesList[assessee].status=="notAgree"){
            				   //	$("#closeDispute").show();
            				    $("#assessorSubmit").show()
              			  		// $("#assessorSubmit").hide();
             			  }else{
            				   $("#closeDispute").hide();
              			  	 $("#assessorSubmit").show();
                			  }
        			  }
        		  }
        	  }
    	  }
	}
$("#submitbtn").on("click",function(){

	   var classValue="help-block";

	 //incase of employee
if($("#selectAssessee").val()==0)
	{

	$("#projectId").val($(selectedRole).children(":selected").attr("name"));
	$("#roleid").val($(selectedRole).val());
	$("#assesseeAssessorId").val($(selectedRole).children(":selected").attr("accessKey"));

	  if($("#selfrating").val() == null)
	   {

	  $("#selfrating").css({"border-color": "#a94442"});

	  $("#errorspanSelf").show();

	  return false;

	   }else
		   {

		   return true;

		   }
	}


//incase of manager or Assessor
if($("#selectAssessee").val()>0)
	{
	 /*  if($("#selfrating").val() == null)
	   {

	  $("#selfrating").css({"border-color": "#a94442"});
	  $("#errorspan").text("Please ask employee to assess himself and do the assessment   ");
	  $("#errorspan").show();

	  return false;

	   }else
		   {
		   return true;

		   } */

	   if($("#manager_rating").val() == null)
		   {

		  $("#manager_rating").css({"border-color": "#a94442"});

		  $("#errorspan").show();

		  return false;

		   }else
			   {

			   return true;

			   }
	}

		});
	// on select of Assessee
$("#selectAssessee").on('change', function(){

	if($("#selectAssessee").val() > 0)
	 {$("#buttonsDiv").show();
	   $("#section0").trigger("click");

	   $("#roleid").val($(selectAssessee).children(":selected").attr("name"));
	   $("#projectId").val($(selectAssessee).children(":selected").attr("id"));
	   $("#assesseeAssessorId").val($(selectAssessee).children(":selected").attr("accessKey"));

	   assesorButtonDivhandler();

  	 }else{
  		 $("#selectedAssesseeSummary").hide();
		 $("#selectedAssesseeBody").hide();
		 $("#margin").hide();

		}
	});

//on section click
$(".test").on("click",function(){

	
	$("#current_section_id").val($(this).attr("name"));

	var id = $(selectAssessee).children(":selected").attr("name");

	$("#sectionid").val($(this).attr("name"));

	if($("#selectAssessee").val()==0)

   	 {


	   	 //deleted
		 if($("#selectedRole").val()>0)
		   	 {
			  $("#roleid").val($("#selectedRole").val());

		var data={selectedAsseesseID:0,
				sectionToLoad:$(this).attr("name"),
				role_id:$("#selectedRole").val(),
				projectId:$(selectedRole).children(":selected").attr("name"),
				assesseeAssessorId:$(selectedRole).children(":selected").attr("accessKey")

				};
		 ajaxCall(data);
		   	 }else{

		   		var list=[[${allRolesofCurrentUser}]];
		   		
		   		var data={selectedAsseesseID:0,
						sectionToLoad:$(this).attr("name"),
						role_id:list[0].roleId,
						projectId:list[0].projectId,
						assesseeAssessorId:list[0].assesseeAssessorId
						};
				 ajaxCall(data);
			   	 }
   	}else
   		{

	$("#tbody").empty();
	$('a[name="section'+$(this).attr("name")+'"]').removeAttr("data-notifications");	
	// $('li[name="' +$(this).attr("name")+ '"]').removeAttr("data-notifications");	
	var data={selectedAsseesseID:$("#selectAssessee").val(),
			sectionToLoad:$(this).attr("name"),
			role_id:$(selectAssessee).children(":selected").attr("name"),
			projectId:$(selectAssessee).children(":selected").attr("id"),
			assesseeAssessorId:$(selectAssessee).children(":selected").attr("accessKey")
			};


	 ajaxCall(data);
	 $("#sectionid").val($(this).attr("name"));

   		}
});

//on  Select of Role
$("#selectedRole").on('change', function(){

 if($("#selectedRole").val()!=0)
  	 {
	 $("#buttonsDiv").show();
	 $("#section0").trigger("click");

	 $("#projectId").val($(selectedRole).children(":selected").attr("name"));
	 $("#assesseeAssessorId").val($(selectedRole).children(":selected").attr("accessKey"));
	 assesseeButtonDivhandler();
	// $(selectedRole).children(":selected").attr("name")
	/* var data={selectedAsseesseID:0,
			sectionToLoad:0,
			role_id:$("#selectedRole").val(),
			projectId: $(selectedRole).children(":selected").attr("name")
			};


	 ajaxCall(data); */
  	 }else{

  		 $("#selectedAssesseeSummary").hide();
		 $("#selectedAssesseeBody").hide();
		 $("#margin").hide();
		}


	});

//make ajaxcall it common for ajxacalls in this page other than summarybutton event
function ajaxCall(data)
{

	   $.ajax({
           url: "ajax/assesseeObjectives",
           type: 'GET',
           data: data,
           success: function(response) {



			if(response=="")
           {
		           if(data.selectedAsseesseID==0)
			           {
						 $("#selectedAssesseeSummary").hide();
						 $("#selectedAssesseeBody").hide();
						 $("#margin").hide();
			           }
		           $("#selectedAssesseeSummary").show();
					 $("#selectedAssesseeBody").show();
					 $("#margin").show();

				 $("#tbody").empty();
           }else{

        	   $("#selectedAssesseeSummary").show();
				 $("#selectedAssesseeBody").show();

				 if([[${allObjectives}]]==null)
					 {
					 $("#margin").show();
					 }
				 

           	 $("#tbody").empty();



             for (row in response) {


            	 var objective="objective"+response[row].id;
            	 var weightage="weightage"+response[row].id;
            	 var selfRating="selfRating"+response[row].id;
            	 var selfScore="selfScore"+response[row].id;
            	 var managerRating="managerRating"+response[row].id;
            	 var managerScore="managerScore"+response[row].id;
            	 var managerComments="managerComments"+response[row].id;
            	 var employeeComments="employeeComments"+response[row].id;
            var btn="btn"+response[row].id;



            	 var classValue=" text-center";
            	 var hidden="visibility:hidden";
            	 var comments=response[row].manager_comments;
            	 var asscomments= response[row].assessee_comments;
            	 var manager_score_value;
            	 var manager_score_id;
            	 var manager_score_score;

            	 //$("#assesseeAssessorStatus").val();


		           if(data.selectedAsseesseID==0)
			           {if($("#assesseeAssessorId").val()==data.assesseeAssessorId)
				           {
						if($("#assesseeAssessorStatus").val()=="assignedObjectives" || $("#assesseeAssessorStatus").val()=="selfRatingCompleted" )
							{
							manager_score_value=0;
							manager_score_id=1;
							manager_score_score=0
							}else
							{
								manager_score_value=response[row].manager_score;
								manager_score_id=response[row].manager_rating.id;

								manager_score_score=response[row].manager_rating.score;

								}
				           }else
							{
								manager_score_value=response[row].manager_score;
								manager_score_id=response[row].manager_rating.id;

								manager_score_score=response[row].manager_rating.score;

								}
			           }else
						{
							manager_score_value=response[row].manager_score;
							manager_score_id=response[row].manager_rating.id;

							manager_score_score=response[row].manager_rating.score;

							}

            	 if(comments == null)
            		 {
            		 comments="";
            		 }
            	 if(asscomments == null)
        		 {
            		 asscomments="";
        		 }

            	  var rowdata = $(  "<tr id="+ response[row].id +" />")
      		    $("#objective_table").append(rowdata);
      		    rowdata.append($("<td id="+objective+">" + response[row].description + "</td>"));
      		    rowdata.append($("<td id="+weightage+" class="+classValue+" name="+response[row].weightage.id+" >" + response[row].weightage.weightage + "</td>"));
      		    rowdata.append($("<td id="+selfRating+" class="+classValue+" name="+response[row].self_rating.id+">" + response[row].self_rating.score + "</td>"));
      		    rowdata.append($("<td id="+selfScore+" class="+classValue+">" + response[row].self_score + "</td>"));

    		    rowdata.append($("<td id="+managerRating+" class="+classValue+" name="+manager_score_id+">" +manager_score_score + "</td>"));
    		    rowdata.append($("<td id="+managerScore+" class="+classValue+">" + manager_score_value + "</td>"));
    		    rowdata.append($("<td id="+managerComments+"  style="+hidden+"   class="+classValue+">" + comments + "</td>"));
    		    rowdata.append($("<td id="+employeeComments+"  style="+hidden+"   class="+classValue+">" + asscomments + "</td>"));
    		     rowdata.append($("<td>" + '<button id="'+btn+'" name="'+response[row].id+'"  class="btn btn-info btn-edit" data-toggle="modal" data-target="#managermodal" type="button"><i class="fa fa-pencil"></i></button>' + "</td>"));

    		     $("#"+managerComments).hide();
    		     $("#"+employeeComments).hide();



             }

             if(data.selectedAsseesseID>0)
        	  {
           	 // alert(data.assesseeAssessorId+" "+[[${assesseeAssessorId}]])
           	  if([[${assesseeAssessorId}]]==data.assesseeAssessorId)
               	  {
						
						//sectionToLoad
						if([[${errorMessage}]]!=null)
							  {
						  	 $.map([[${errorMessage}]], function( value, key ) {
						
							           	  	//errorMessage
										if(data.sectionToLoad==key){
											
											var count=0;
											for( itr in value)
												{
												count++;
						
												$("#"+value[itr].id).addClass("incomplete-row");
												//section
												
												
												}
										//	$('li[name="' +$(this).attr("name")+ '"]').removeAttr("data-notifications");	
											$('a[name="section'+key+'"]').removeAttr("data-notifications");	
						
							           	  	}else{
							           	  	
							           	 
											var count=0;
											for( itr in value)
												{
												count++;
						
												}
											
											$('a[name="section'+key+'"]').attr("data-notifications", count);
											
											
											 $('li[name="' +key+ '"]').addClass("notification");
							           	 
										
												}
									
						
						 	 		 });
							  }
  			   }else{

  				 if([[${errorMessage}]]!=null)
  	  				 {
  				 $.map([[${errorMessage}]], function( value, key ) {
  					$('a[name="section'+key+'"]').removeAttr("data-notifications");	
  	  				 });
  	  			   }
  			   }
           	  

          }

           //on clcik of edit button
		     $(".btn-edit").on( "click", function(){
		    	 $("#errorspanSelf").hide();
		    	 $("#errorspan").hide();
		   	  $("#manager_rating").css({"border-color": "#d2d6de"});
		   	  $("#selfrating").css({"border-color": "#d2d6de"});
		   	
		   	 $("#roleid").val($("#selectedRole").val());
		    $("#assesseeAssessorId").val($(selectedRole).children(":selected").attr("accessKey"));
		    
		    	  var objective_id='#'+'objective'+$(this).attr("name");
		    	  var weightage_id='#'+'weightage'+$(this).attr("name");
		    	  var managerRating_id='#'+'managerRating'+$(this).attr("name");
		    	  var managerScore_id='#'+'managerScore'+$(this).attr("name");
		    	  var managercomment='#'+'managerComments'+$(this).attr("name");
		    	    var selfRating_id='#'+'selfRating'+$(this).attr("name");
		    	  var selfScore_id='#'+'selfScore'+$(this).attr("name");
		    	  var employeeComments='#'+'employeeComments'+$(this).attr("name");

		    	  $("#objective_modal").val($(objective_id).text());


		    	  if($(weightage_id).text() ==0)
		    		  {
		    		  $("#weightage").val(1);

		    		  }else
		    			  {

		    			  $("#weightage").val($(weightage_id).attr('name'));
		    			  }


		    	  if($(managerRating_id).text() ==0)
	    		  {
		    		  $("#manager_rating").val(1);

	    		  }else
	    			  {

	    			  $("#manager_rating").val($(managerRating_id).attr('name'));
	    			  }

		    	  if($(selfRating_id).text() ==0)
	    		  {
		    		  $("#selfrating").val(1);

	    		  }else
	    			  {

	    			  $("#selfrating").val($(selfRating_id).attr('name'));
	    			  }

		    	  $("#roleid").val($(selectAssessee).children(":selected").attr("name"));
		    	  $("#projectId").val($(selectAssessee).children(":selected").attr("id"));
		    	  $("#assesseeAssessorId").val($(selectAssessee).children(":selected").attr("accessKey"));
		    	  


		    	  $("#manager_score").val($(managerScore_id).text());
		    //	  $("#selfrating").val($(selfRating_id).text());
		    	  $("#selfscore").val($(selfScore_id).text());
		    	  $("#objectiveid").val($(this).attr("name"));

		    	  $("#employeeComments").val($(employeeComments).text());
		    	  $("#manager_comments").val($(managercomment).text());

		    	  if($("#selectAssessee").val()==0)
		    	   	 {
		    		  $("#userType").val("assesse");
		    		  $("#objectiveSection").children().prop('disabled',true);
		    		  /*
		    		    //$("#weightagediv").find("select").prop("readonly",true);
		    		    $("#weightagediv option:not(:selected)").attr('disabled', true);
		    		    $("#managerSection input").attr('disabled', true);
				 		$("#managerSection textarea").attr('readonly', true);
				 		//find("input,textarea").

				 		//find(':input').prop('disabled', false);
				 		$("#managerSection select:not(:selected)").attr('disabled', true);
				 		$("#managerSection select").attr('readonly', true); */
				 		var projectValue=$(selectedRole).children(":selected").attr("name");
				 		var roleValue=$("#selectedRole").val();
				 		var assesseAssessorID=$(selectedRole).children(":selected").attr("accessKey")

				 		if([[${allRolesofCurrentUser}]]!=0)
					 	{
								for(itr in [[${allRolesofCurrentUser}]])
									{
										//if([[${allRolesofCurrentUser}]][itr].projectId==projectValue)
										if([[${allRolesofCurrentUser}]][itr].assesseeAssessorId==assesseAssessorID)
											{
											if([[${allRolesofCurrentUser}]][itr].roleId==roleValue)
												{

												if([[${allRolesofCurrentUser}]][itr].assessmentStatus =="AssessementCompleted" || [[${allRolesofCurrentUser}]][itr].assessmentStatus == "notAgree" || [[${allRolesofCurrentUser}]][itr].assessmentStatus == "Agree"  || [[${allRolesofCurrentUser}]][itr].assessmentStatus == "closed" )
													{

													$("#managerSection").show();

													}else{

														$("#managerSection").hide();
														}
												}
											}

									}

						 	}

				 		 $("#weightagediv").find("select").prop("disabled",true);
						$("#managerSection").find("input,textarea,select").prop("disabled",true);
				 		$("#selfscore").attr("disabled",true);
				 		$("#objective_modal").attr("disabled",true);

				 		manageSectionsByStatus($("#assesseeAssessorStatus").val(), true);

	    			  } else
		 		 {

	    			 		 $("#userType").val("assessor");
		 		$("#objectiveSection").children().prop('disabled',true);
		 		$("#employeeSection").find("input,textarea,select").prop("disabled",true);
		 		$("#manager_score").prop("disabled",true);
		 		$("#objective_modal").prop("disabled",true);

		 		manageSectionsByStatus($("#assesseeAssessorStatus").val(), false);
		 		 }




		    	  });


           }


           },
           error: function(jqXHr, reponse, errorThrown) {
               // ... Process the result ...
               alert(errorThrown);
           }
		});
		//ajax function ends


   		};


function manageSectionsByStatus(currentStatus, isemployee)
{

	 if($("#assesseeAssessorStatus").val()=="AssessementCompleted" || $("#assesseeAssessorStatus").val()=="closed" || $("#assesseeAssessorStatus").val()=="Agree" )
	  {
		 disableSection();
	  }else{

   	   		  if(isemployee)
   	   		  {
   	   		$("#employeeSection").find("input,textarea,select").prop("disabled",false);
   	   	$("#selfscore").attr("disabled",true);
   	   	 $("#submitbtn").show();
   	   	   		  }else{
   	   	   	 $("#managerSection").find("input,textarea,select").prop("disabled",false);
   	   	$("#manager_score").attr("disabled",true);
   	   	$("#submitbtn").show();
   	   	   	   		  }

	   	   		  if($("#assesseeAssessorStatus").val()=="notAgree")
	   	   		  {
		   	   		  if(isemployee)
			   	   		  {
		   	   		$("#submitbtn").hide();
			   	   		  }
	$("#employeeSection").find("input,textarea,select").prop("disabled",true);
		  }
   	   		  }
	}






function disableSection()
{
	 $("#managerSection").find("input,textarea,select").prop("disabled",true);
	 $("#employeeSection").find("input,textarea,select").prop("disabled",true);
	 $("#submitbtn").hide();
	 $("#weightagediv").find("select").prop("disabled",true);
	 }

    $("#submitbtn_summary").on("click",function(){

    	if($("#selectAssessee").val()==0)
		    	   	 {	//deleted
		    			 if($("#selectedRole").val()>0)
		    			   	 {
		    				  $("#roleid").val($("#selectedRole").val());
		    				  $("#assesseeAssessorId").val($(selectedRole).children(":selected").attr("accessKey"));

		    			var data={selectedAsseesseID:0,
		    				     role_id:$("#selectedRole").val(),
		    					projectId:$(selectedRole).children(":selected").attr("name"),
		    					assesseeAssessorId:$(selectedRole).children(":selected").attr("accessKey")

		    					};
		    	     	ajaxCallSummary(data);
		    			   	 }else{
		    			   		var list=[[${allRolesofCurrentUser}]];


		    			   		var data={selectedAsseesseID:0,
		    							role_id:list[0].roleId,
		    							projectId:list[0].projectId,
		    							assesseeAssessorId:list[0].assesseeAssessorId

		    							};
		    			     	ajaxCallSummary(data);
		    				   	 }
		    	   	}else
		    	   		{

		    	   	 $("#assesseeAssessorId").val($(selectAssessee).children(":selected").attr("accessKey"));
		    		var data={selectedAsseesseID:$("#selectAssessee").val(),
		    				role_id:$(selectAssessee).children(":selected").attr("name"),
		    				projectId:$(selectAssessee).children(":selected").attr("id"),
		    				assesseeAssessorId:$(selectAssessee).children(":selected").attr("accessKey")
		    				};


		    	     	ajaxCallSummary(data);


		    	   		}

























       });







		   	    $("#summaryclose").on( "click", function(){


   	    	overlayclose();
   	    });

  /*  	   $("#modal_close").on( "click", function(){


      	    	overlayclose();
      	    });
 */




   	 function overlayclose()
   	 {

	    	for (row in summarydata) {
	   		    var point="point"+summarydata[row].id;

  		      var value=summarydata[row].section_point;


  		   var pointvalue= parseFloat(value).toFixed(2);



  		$('input[name="' + point + '"]').val(0);





  		            }

   	 };








	function ajaxCallSummary(data)
   		{





   			   $.ajax({
   		           url: "ajax/GetSummaryRating",
   		           type: 'GET',
   		           data: data,
   		           success: function(response) {

   		        	 $('#summaryrating').modal('show');


   					if(response=="")
   		           {



   		           }else
   		        	   {


   		        	 summarydata=response;


   		        	 var finalweightage=0;
   		        	 var section_value=0;
   		        	 var section;

  for (row in response) {

					
					   		      var point="point"+response[row].id;
					
					   		      var value=response[row].section_point;
					   		   var pointvalue;
					     if(value!=0)
					         {
					
					
					    	 pointvalue = parseFloat(value).toFixed(2);
					    		
					    	  if(isNaN(pointvalue)) {
					   			pointvalue = "0.0";
					   			}
					    	  
					
					
					         }else
					             {
					        	 pointvalue="0.0";
					             }
					
					
					   		 // var pointvalue=value;
					
					
					
					
					
					
					
					
					   		$('input[name="' + point + '"]').val(pointvalue);
					
					   		section="section_value"+response[row].id;
				
					   		section_value=$('#'+section).val();
					
					   		
					
					       	finalweightage=parseFloat(finalweightage)+parseFloat((section_value*pointvalue));

					       
					       
					       	finalweightage=parseFloat(finalweightage).toFixed(2);
					
					
					        if(data.selectedAsseesseID==0)
					        {
					        	if($("#assesseeAssessorId").val()==data.assesseeAssessorId)
						           {
								if($("#assesseeAssessorStatus").val()=="assignedObjectives" || $("#assesseeAssessorStatus").val()=="selfRatingCompleted" )
									{
									$('input[name="' + point + '"]').val("0.0");
					
					
									}else
									{
										$('input[name="' + point + '"]').val(pointvalue);
					
										}
						           }else
									{
										$('input[name="' + point + '"]').val(pointvalue);
					
										}
					        }else
								{
								
					     	   $('input[name="' + point + '"]').val(pointvalue);
					
									}
					



   	 }


   		         if(isNaN(finalweightage)) {
   		        	finalweightage = "0.0";
   		   			}

   		       //  $('#weightage_score').val(finalweightage );



   		      if(data.selectedAsseesseID==0)
	           {
					if($("#assesseeAssessorId").val()==data.assesseeAssessorId)
	   					{
								if($("#assesseeAssessorStatus").val()=="assignedObjectives" || $("#assesseeAssessorStatus").val()=="selfRatingCompleted" )
									{
				
									 $('#weightage_score').val("0.0");
				
									}else
									{
				
										 $('#weightage_score').val(finalweightage );
										}
	   				}else
					{
	   					

						 $('#weightage_score').val(finalweightage );
					}
	           }else
				{
					  $('#weightage_score').val(finalweightage );
				}






   		         

   		        	   }




   				 







   		           },
   		        error: function(jqXHr, reponse, errorThrown) {
   	               // ... Process the result ...
   	               alert(errorThrown);
   	           }



   			   });


   		};




  





});
</script>

</head>
<body>
	<div layout:fragment="content">
		<form method="post" action="#"
						th:action="@{/assessor/SaveSectionData}"
						th:object="${AssessorAssessmentBean}">

							 <input type="hidden"
							id="First_section_id" name="First_section_id"
							th:value="${sectionToLoad}" />
							 <input type="hidden"
							id="roleid" name="roleid"
							th:value="${roleid}" />

							 <input type="hidden"
							id="projectId"
							th:value="${projectId}" th:field="*{projectId}" />
							 <input type="hidden"
							id="assesseeAssessorStatus"
							th:value="${assesseeAssessorStatus}" th:field="*{assesseeAssessorStatus}" />
							<input type="hidden"
							id="assesseeAssessorId"
							th:value="${assesseeAssessorId}" th:field="*{assesseeAssessorId}" />

<input type="hidden" id="userType" th:field="*{userType}" value="assesse"/>

	 <input type="hidden"
							id="current_section_id" name="current_section_id"
							 />



	 <!-- Content Wrapper starts -->
      <div >
        <!-- Content Header starts -->
        <section id="setHeader" class="content-header">
          <h1 id="setHeaderH1" >Manager</h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Here</li>
          </ol>
        </section>
		<!-- Content Header ends -->

        <!-- Main content starts -->
        <section class="content">


			<!-- Manager header panel starts -->
			<div class="box">
				<div class="box-body">
					<div class="row margintop15" id="selectAssesseeRow">
							<div class="col-md-6">
								<div class="form-group">
									<select class="form-control" id="selectAssessee" th:name="${selectedAsseses}" th:field="*{employee_id}" >

										<option selected="selected" value="0">Select Employee</option>
										<option th:each="assessor : ${assessorAssessees}" th:accessKey="${assessor.assesseeAssessorId}" th:text="${assessor.fullname}" th:value="${assessor.id}" th:name="${assessor.role_id}" th:id="${assessor.projectId}">Employee one</option>

									</select>
								</div>
							</div>
							<div class="col-md-6">

							</div>
						</div>

						<div class="row margintop15" id="selectRoleRow">
							<div class="col-md-6">
								<div class="form-group">
									<select class="form-control" id="selectedRole" th:name="${selectedRole}" >

										<option selected="selected" value="0">Select Role</option>
										<option th:each="role : ${allRolesofCurrentUser}" th:text="${role.assesseeProjectRole}" th:accessKey="${role.assesseeAssessorId}" th:value="${role.roleId}" th:name="${role.projectId}">Role</option>

									</select>
								</div>
							</div>
							<div class="col-md-6">

							</div>
						</div>

					<hr class="margintop10 marginbottom10"  id="margin"/>
						<div class="form-group marginbottom30" id="selectedAssesseeSummary">


				 	<div class="row col-sm-6 pull-left" id="buttonsDiv">

							<button class="btn btn-success" id="assessorSubmit" name="assesseeSubmit" value="assesseeSubmit" type="submit"><i class="fa fa-check"></i> Assessor Submit</button>


							<button class="btn btn-info" id="assesseSubmit" name="assesseeSubmit" value="assesseeSubmit" type="submit"><i class="fa fa-user"></i> Assessee Submit</button>


							<button class="btn btn-danger" id="dispute" name="close" value="dispute" type="submit"><i class="fa fa-hand-o-right icon-dr"></i> Dispute</button>
							<button class="btn btn-success" id="agree" name="close" value="agree" type="submit"><i class="fa fa-hand-o-right icon-dr"></i> Agree</button>


							<button class="btn btn-warning" id="closeDispute"  name="close" value="closed" type="submit"><i class="fa fa-user-times"></i> Close</button>

					</div>





						<button id="submitbtn_summary" class="btn btn-info btn-green pull-right"
									type="button">
									<i class="fa fa-file-text">&nbsp;</i> Summary Ratings
						</button>

						<div class="clearfix"></div>

						</div>

					<div class="nav-tabs-custom margintop10 noboxshadow" id="selectedAssesseeBody">
						<div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
						<div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
						<div class="wrapper-tabs">
							<ul class="nav nav-tabs list" id="myTab" >
							<th:block th:each="section, iterStat : ${allSections}" th:field="*{sectionid}">
								<li th:if="${iterStat.index}==0" class="test active"  th:name="${section.getId()}" ><a th:id="'section'+${iterStat.index}"  th:name="'section'+${section.getId()}" data-toggle="tab" href="#par" th:text="${section.getSection()}">Performance</a></li>

								<li th:if="${iterStat.index}!=0"  th:name="${section.getId()}" class="test"><a th:id="${iterStat.index}"   th:name="'section'+${section.getId()}" data-toggle="tab" href="#car" th:text="${section.getSection()}">Competancy</a></li>
								</th:block>
								<!-- <li><a data-toggle="tab" href="#pqar">Personal Qualities</a></li> -->
							</ul>
						</div>
						<div class="tab-content">
							<div id="par" class="tab-pane active">

								<div class="box-body table-responsive">
									<table id="objective_table" class="table">
										<thead>
											<tr>
												<th>Objectives</th>
												<th>Weightage</th>
												<th>Self Rating</th>
												<th>Self Score</th>
												<th>Manager Rating</th>
												<th>Manager Score</th>

												<th>Actions</th>
											</tr>
										</thead>
										<tbody id="tbody">
										<th:block th:each="objective,itrIndex: ${allObjectives}">
											<tr id="tRow" th:name="${objective.getId()}">
												<td class="col-md-10 col-xs-7" th:text="${objective.description}" th:id="'objectiveDesc'+${objective.getId()}">
													Delivering to the Customer's satisfaction/ expectation
												</td>
												<td class="col-md-1 col-xs-3 text-center" th:id="'wightage'+${objective.weightage.weightage}">
													0
												</td>
												<td class="col-md-1 col-xs-3 text-center" th:id="'selfRating'+${objective.self_rating.score}">
													0
												</td>
												<td class="col-md-1 col-xs-3 text-center" th:id="'selfScore'+${objective.self_score}">
													0
												</td>
												<td class="col-md-1 col-xs-3 text-center" th:id="'managerRating'+${objective.manager_rating.score}">
													0
												</td>
												<td class="col-md-1 col-xs-3 text-center" th:id="'managerScore'+${objective.manager_score}">
													0
												</td>


												<td class="col-md-1 col-xs-1 text-center" th:id="${objective.getId()}">
													<button class="btn btn-info btn-edit" data-toggle="modal" data-target="#managermodal" type="button"><i class="fa fa-pencil"></i></button>
												</td>
											</tr>
										</th:block>
										</tbody>
									</table>
								</div>

							<div class="clearfix"></div>
							</div>





						</div>





					</div>


				<!--


				 	<div class="row col-sm-12" id="buttonsDiv">

							<button class="btn btn-info" id="assessorSubmit" type="button"><i class="fa fa-pencil"></i> Assessor Submit</button>


							<button class="btn btn-info" id="assesseSubmit" name="assesseeSubmit" value="assesseeSubmit" type="submit"><i class="fa fa-pencil"></i> Assessee Submit</button>


							<button class="btn btn-info" id="dispute" type="button"><i class="fa fa-pencil"></i> Dispute</button>


							<button class="btn btn-default" id="closeDispute" type="button"><i class="fa fa-pencil"></i> Close Accessement</button>

					</div>
-->


				</div>
			</div>
			<!-- Manager header panel ends -->


        </section>
		<!-- Main content ends -->
      </div>
	<!-- Content Wrapper ends -->
	<!-- Manager Modal Starts -->




						<input type="hidden" id="objectiveid" name="objectiveid"
							th:field="*{objectiveid}" th:value="${objectiveid}" />





							<input type="hidden" id="sectionid" name="sectionid"
							th:field="*{sectionid}" th:value="${sectionid}" />



		<div class="modal fade" id="managermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Add Ratings and Comments</h4>
					</div>
					  <div class="modal-body">
						  <div class="row" id="objectiveSection">
							<div class="col-md-9">
								<div class="form-group" id="objectiveDesc">
									<label class="sr-only">Objectives</label>
									<textarea id="objective_modal"  row="4" class="form-control" Placeholder="Objectives"></textarea>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" id="weightagediv">


										<select class="form-control" id="weightage"  th:field="*{weightage}" >

										<option selected="selected"  value="1">Select Weightage</option>
										<option th:each="weight : ${weightageList}" th:text="${weight.weightage}" th:value="${weight.id}">Employee one</option>

									</select>


								</div>
							</div>
						  </div>


						  <div class="row" id="employeeSection">
							<div class="col-md-12">
								<h4>Assesse Self Rating</h4>
								<hr class="marginbottom15 margintop5"/>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<!-- <label class="sr-only">Self Rating</label> -->

									<select class="form-control" id="selfrating"  th:field="*{self_rating}" >

										<option selected="selected" disabled="disabled" value="1">Select Rating</option>
										<option th:each="rating1 : ${selfratingList}" th:text="${rating1.score}" th:value="${rating1.id}">Employee one</option>

									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="sr-only">Self Score</label>
									<input id="selfscore" type="text" class="form-control" Placeholder="Self Score" />
								</div>
							</div>
							<div class="col-md-6">
							<div class="form-group" >
							<span id="errorspanSelf" style="color: #a94442"> Please select Rating !  </span>

							</div>
							</div>
							<div class="col-md-6"></div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="sr-only">Employee Comments</label>
									<textarea id="employeeComments" th:field="*{employee_comments}" row="2" class="form-control" Placeholder="Employee Comments"></textarea>

								</div>
							</div>
						  </div>

						   <div class="row" id="managerSection">
							<div class="col-md-12">
								<h4>Assessor Rating</h4>
								<hr class="marginbottom15 margintop5"/>
							</div>
							<div class="col-md-3" th:classappend="${#fields.hasErrors('manager_rating')}? 'has-error'">
								<div class="form-group" >
									<!-- <label class="sr-only">Manager Rating</label> -->
									<!-- <input id="manager_rating"  th:field="*{manager_rating}"  type="text" class="form-control" Placeholder="Manager Rating" /> -->

								<select class="form-control" id="manager_rating"  th:field="*{manager_rating}" >

										<option selected="selected" disabled="disabled" value="1">Select Rating</option>
										<option th:each="rating : ${ratingList}" th:text="${rating.score}" th:value="${rating.id}">Employee one</option>

									</select>
									<span class="help-block"
													th:if="${#fields.hasErrors('manager_rating')}"
													th:errors="*{manager_rating}">Incorrect email</span>


								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="sr-only">Manager Score</label>
									<input id="manager_score" type="text" class="form-control" Placeholder="Manager Score" />
								</div>
							</div>
							<div class="col-md-6">
							<div class="form-group" >
							<span id="errorspan" style="color: #a94442"> Please select Rating !  </span>

							</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<!-- <label class="sr-only">Manager Comments</label> -->
									<textarea id="manager_comments" th:field="*{manager_comments}" row="2" class="form-control" Placeholder="Manager Comments"></textarea>
								</div>
							</div>
						  </div>

					  </div>
					  <div class="modal-footer">

						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
						<button id="submitbtn" type="submit" class="btn btn-primary" name="save" value="Save"><i class="fa fa-check"></i> Save</button>
					  </div>
				</div>
			</div>
		</div>





		<!-- Manager Modal ends -->



	<!-- Summary Rating Modal Starts -->
		<div class="modal fade" id="summaryrating" tabindex="-1"
				role="dialog" aria-labelledby="summaryratinglabel"
				data-keyboard="false" data-backdrop="static">
				<div id="summaryratingcontent" class="modal-dialog modal-lg"
					role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button id="modal_close" type="button" class="close"
								data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="summaryratinglabel">Summary
								Rating</h4>
						</div>
						<div class="modal-body">
							<div class="row margintop0">
								<div class="padding10">
									<h4 class="margintop0 marginbottom5">
										<strong>Organisation weightage of different
											parameters</strong>
									</h4>

									<th:block th:each="section : ${allSections}">

										<p id="'section'+${section.getId()}"
											class="label label-info score-container">
											<em class="score-title"><input type="text"
												readonly="true" th:value="${section.getSection()}"  th:title="${section.getSection()}" /> </em> <em
												class="score"><input
												th:id="'section_value'+${section.getId()}" type="text"
												th:value="${section.getSection_weightage()}" readonly="true" />
											</em>
										</p>

									</th:block>



								</div>
							</div>
							<div class="row">
								<div id="sectionpointsdiv" class="padding10">

									<h4 class="margintop0 marginbottom5">
										<strong>Summary Score</strong>
									</h4>

									<th:block th:each="section : ${allSectionsBeans}">

										<p th:id="'section'+${section.getId()}"
											th:name="${section.getId()}"
											class="label label-success score-container">
											<em style="word-wrap: break-word; white-space: normal;"
												class="score-title"><input th:id="${section.getId()}"
												th:name="'title'+${section.getId()}" type="text"
												readonly="true" th:value="${section.getSection()}"  th:title="${section.getSection()}" /> </em> <em
												class="score"><input th:id="${section.getId()}"
												th:name="'point'+${section.getId()}" type="text"
												readonly="true" value="0.0"></input></em>

											<!-- <em class="score"   th:id="${section.getSection_manager_score()}" th:name="${section.getSection_max_score()}"><input type="text" readonly="true" th:value="${section.getSection_manager_score()/section.getSection_max_score() * maxrating}"/> </em> -->
										</p>

									</th:block>

									<!--
									<p  id="sectionpoints" class="label label-success score-container">
										<em style="word-wrap: break-word; white-space: normal;" class="score-title">test Score</em>
										<em class="score">0.2</em>
									</p>
								 -->



									<h4 class="margintop20 marginbottom5">
										<strong>Final Score</strong>
									</h4>

									<p class="label label-info score-container">
										<em style="word-wrap: break-word; white-space: normal;"
											class="score-title"><input type="text" readonly="true"
											value="Weighted score" /></em> <em class="score"><input
											id="weightage_score" type="text" readonly="true" value="0.0" /></em>

									</p>

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="summaryclose" type="button" class="btn btn-default"
								data-dismiss="modal">
								<i class="fa fa-times"></i> Close
							</button>
						</div>
					</div>
				</div>
			</div>



		</form>
	</div>
	</body>
	</html>