<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="home/homeSignedIn">
<head>
<script th:inline="javascript">
	$(document).ready(function(){
$("#copyObjectiveBlock").hide();
		//getting the attributes from request object
		var allObjectives = [[${allObjectives}]];

		var selectedSection =[[${sectionToLoad}]];


		//making div empty
		$("#sectionObjectives-prnt").empty();

		
//on Load setting objectives

if(allObjectives!=null)
	{
 $.each( allObjectives, function( iterStat, objectiveDesc ) {
           LodaObjectives(iterStat,objectiveDesc,selectedSection);
});

	}else{
		$("#sectionObjectives-prnt").hide();
		$(".wrapper-tabs").hide();
		$("#sectionsBody").hide();
		
		$("#addObjectiveform").hide();
		}
 //To select active tabs on load
 $('.test').removeClass( "active test" ).addClass("test");

 $('li[name="'+selectedSection+'"]').addClass( "active test" );

 $("#addObjectiveSectionName").val($('li[name="'+selectedSection+'"]').text());


 $("#assessee").on('change',function(){
	 triggerToObjectives();
		});
	//set to count value to one which will restrict to call the multiple time of on change of assessmentFromDate
	var count=1;
	$("#assessmentFromDate").click(function(){
		count =1;
		});
	$("#assessmentToDate").click(function(){
		count =1;
		});
	$("#assessmentFromDate").change( function(){
		if(count==1)
			{
			count=2;
			triggerToObjectives();
			}
		}) ;
	
	$("#projectName").on('change', function(){
	
		triggerToObjectives();
		});

	$("#assessmentToDate").on('change', function(){
		if(count==1)
		{
		count=2;
		triggerToObjectives();
		}
				});
	$("#assessor").on('change', function(){
		triggerToObjectives();
				});

	$("#assesseeRole").on('change', function(){
		triggerToObjectives();
				});
	$("#assessmentCycle").on('change', function(){
		triggerToObjectives();
				});
	
	function triggerToObjectives() {
		//$("#modal_alert_messages").modal('show');

		if($("#assessee").val()!="0") {
		if($("#assessmentFromDate").val()!="") {
			if($("#projectName").val()!="") {
			if($("#assessmentCycle").val()!="0"){
				if($("#assessor").val()!="0") {
					if($("#assesseeRole").val()!="0") {
						if($("#assessmentToDate").val()!=""){
							    var	sectionLoad={
						              sectionLoad:"0",
						              assesseeid:$("#assessee").val(),
						              assessmentFromDate: $("#assessmentFromDate").val(),
						              projectName: $("#projectName").val(),
						              assessmentCycle: $("#assessmentCycle").val(),
						              assessmentToDate: $("#assessmentToDate").val(),
						              assessor:  $("#assessor").val(),
						              assesseeRole: $("#assesseeRole").val()
						             } 
							    
								  ajaxcall(sectionLoad, false); 
							    }
							}
						}
					}
				}
			}
		}
	};
//
 $("#employeeObjectivesss").on('click',function(event){
		
		 $("#employeeObjective").on('click',function(event){
			//	alert("Test 11");
				 submitForm(event,"employeeObjective");
				}); 
		
		}); 
 $("#employeeObjective").on('click',function(event){
		//alert("Test 11");
	 submitForm(event,"employeeObjective");
		}); 
	
	$("#roleObjectives").on('click',function(event){
		
		 submitForm(event,"roleObjectives");
		   });


	  window.submitForm = function(event, buttonName)
	 {
			
			if($("#assessee").val()=="0") {
				
				event.preventDefault();
				
				}

			if($("#assessmentToDate").val()==""){
				
				event.preventDefault();
				
		    }
			if($("#assesseeRole").val()=="0") {
				event.preventDefault();
			}
			if($("#assessor").val()=="0") {
				event.preventDefault();
			}
			if($("#assessmentCycle").val()=="0"){
				event.preventDefault();
			}
			if($("#projectName").val()=="") {
				event.preventDefault();
			}
			if($("#assessmentFromDate").val()=="") {
				event.preventDefault();
			}  
			

			 if($("#"+buttonName).attr("value")=="assessee")
				{
				if($("#otherAssesse").val()==null) {
					event.preventDefault();
				}

				if($("#otherAssesse").val()==$("#assessee").val()) {
					event.preventDefault();
				}
				} 
			 }
 //to Load objectives into div
 function LodaObjectives(iterStat,objectiveDesc,selectedSection)
{
	
	  
		var spanDescId="objectiveDesc"+iterStat;
    	var hiddenObjectiveId="objectiveId"+iterStat;
    	var weightageId="weightageId"+iterStat;
    	$("#sectionObjectives-prnt").append('<div id="sectionObjectives" >'
    			
    			+'<form action="#" id="deleteObjective" method="post" onsubmit="button'+objectiveDesc.id+'.disabled = true; return true;"	th:action="@{/assessor/deleteObjective}">'
    			+'<div 	class="panel panel-default marginbottom10 panel-objective" 	id="objective-one">'
    			+'<div class="panel-body">'
    			+'<p class="pull-left" id="objectiveDesc">'
    			+'<span id="'+spanDescId+'" text="'+objectiveDesc.description+'">'+objectiveDesc.description+'</span>'
    			+'</p>'
    			+'<input type="hidden" id="'+hiddenObjectiveId+'" name="deleteObjectiveId" value="'+objectiveDesc.id+'"/>'
    			+'<input type="hidden" id="sectionIdSelected" name="sectionIdSelected" value="'+selectedSection+'"/>'
    			+'<input type="hidden" id="'+weightageId+'" name="'+objectiveDesc.weightage.id+'" value="'+objectiveDesc.weightage.weightage+'"/>'
    			+'<div class="pull-right form-inline">'
    			+'<label class="label-objective-weightage">Weightage</label>'
    			+'<select class="form-control objective-weightage" id="weightage'+iterStat+'" name="'+objectiveDesc.weightage.id+'">'
    			+'<option  value="1">0</option>'
        	    +'</select>'
    			+'<button type="button" id="'+iterStat+'" data-target="#editobjective" data-toggle="modal" class="btn btn-info btn-edit"> '
    			+'<i class="fa fa-pencil"></i>'
    			+'</button>'
    			+'<button style="padding: 0px 6px;" type="submit" name="button'+objectiveDesc.id+'" data-target="#objective-one" aria-label="Close" class="btn  btn-close btn-danger">'
    			+'<i class="fa fa-times"></i>'
    			+'</button></div></div></div></form></div>');
    	

    	
    //setting the data to text areas on click of edit button 	
    	var valId='#'+'objectiveDesc'+iterStat;
    	$(valId).text(objectiveDesc.objectiveDesc);

    	$.each([[${allWeightages}]], function(key, weight) {   
         	//alert(key+""+weight.weightage);
     	     $("#weightage"+iterStat)
     	         .append($("<option></option>")
     	         .attr("value",weight.id)
     	         .text(weight.weightage)); 
     	});

		$("#weightage"+iterStat).val(objectiveDesc.weightage.id);

		$("#weightage"+iterStat).on('change',function(){

			var data={
					weightage:$(this).val(),
					objectiveId:objectiveDesc.id
					
					}

			   $.ajax({
	                url: 'ajax/saveWeightage',
	                type: 'GET',
	                data: data,
	                success: function(response) {
	                	
		              
					console.log(response);

	                 
	                },
	                error: function(jqXHr, reponse, errorThrown) {
	                    // ... Process the result ...
	                    alert(errorThrown);
	                }
				}); 
			
			});
    	 
    	
    	$(".btn-edit").on( "click", function(){
    		var id='#'+'objectiveDesc'+$(this).attr("id");
    		var hiddenObjectiveid='#'+'objectiveId'+$(this).attr("id");
    		$("#textAreas").val($(id).text());
    		$("#updateobjectiveId").val($(hiddenObjectiveid).val());
    		
    		$("#updateSectionid").val($('#sectionIdSelected').val());
    		
    		var weightageID='#weightageId'+$(this).attr("id");
    		
    		
    		
    		if($(weightageID).attr('name')==1)
        		{
    			
    		    		$("#weightage").val(0);
        		}else{
        			
        			
        			$("#weightage").val($(weightageID).attr('name'));
            		}
    		
    		});	

    	 $("btn-danger").click(function(e){
        	// alert("hello");
    		   $(this).prop('disabled', true);
    		  });


     	
	}; 


	
	
		$(".btn-edit").on( "click", function(){
		
			var id='#'+'objectiveDesc'+$(this).attr("id");
			var hiddenObjectiveid='#'+'objectiveId'+$(this).attr("id");
			$("#textAreas").val($(id).text());
			$("#updateobjectiveId").val($(hiddenObjectiveid).val());
	var weightageID='#weightageId'+$(this).attr("id");
    		
    		
    		
    		if($(weightageID).attr('name')==1)
        		{
    			 		    		$("#weightage").val(0);
        		}else{
        			
        			$("#weightage").val($(weightageID).attr('name'));
            		}
			
			});

		$(".test").on("click",function(){
			
			var id='#'+'section'+$(this).attr("id");

			$("#addObjectiveSectionID").val($(id).attr("name"));
			
			$("#addObjectiveSectionName").val($(id).text());
			
			
			$("#messageBlock").empty();
		
		var	sectionLoad={
              sectionLoad:$(id).attr("name"),
              assesseeid:$("#assessee").val(),
              assessmentFromDate: $("#assessmentFromDate").val(),
              projectName: $("#projectName").val(),
             assessmentCycle: $("#assessmentCycle").val(),
            assessmentToDate: $("#assessmentToDate").val(),
             assessor:  $("#assessor").val(),
             assesseeRole:  $("#assesseeRole").val()
              
             } 
        
		
		//Error Message removal for add objective text box
			$("#hasError").removeClass("has-error");
			$("#span").empty();
			
			
			ajaxcall(sectionLoad,true);

		
			
//making ajax call to laod objectives for selected section
	
	

		
			});

		


		function ajaxcall(sectionLoad,status)
		{
			   $.ajax({
	                url: 'ajax/sectionLoad',
	                type: 'GET',
	                data: sectionLoad,
	                success: function(response) {
	                	
		              
					if(response=="")
	                {
		                
		                if(!status)
			                {
						$("#sectionObjectives-prnt").hide();
						$(".wrapper-tabs").hide();
						$("#sectionsBody").hide();
						$("#addObjectiveform").hide();
					}
						 $("#sectionObjectives-prnt").empty();
						
	                }else{
	                	$("#copyObjectiveBlock").hide();
	                	
	                	 $("#sectionObjectives-prnt").empty();
	                	$("#sectionObjectives-prnt").show();
	            		$(".wrapper-tabs").show();
	            		$("#sectionsBody").show();
	            		$("#addObjectiveform").show();
	                	 $("#sectionObjectives-prnt").show();
	                	 
	                jQuery.each( response, function( iterStat, objectiveDesc ) {
                    var section=sectionLoad.sectionLoad;
	                
	                    LodaObjectives(iterStat,objectiveDesc, section);
	              
				}); 
	                } 

	                 
	                },
	                error: function(jqXHr, reponse, errorThrown) {
	                    // ... Process the result ...
	                    alert(errorThrown);
	                }
				}); 
			};



			$("#addObjective").on('click',function()
					{


				$("#inputAssessmentCycle").val($("#assessmentCycle").val()); 
				 $("#inputAssesseeRole").val($("#assesseeRole").val()); 
				 $("#inputAssessor").val($("#assessor").val()); 
				 $("#inputProjectName").val($("#projectName").val()); 
				 $("#inputAssessmentToDate").val($("#assessmentToDate").val()); 
				 $("#inputAssessmentFromDate").val($("#assessmentFromDate").val());//
				 $("#inputAssessee").val($("#assessee").val());
						});
			
});

	
	
</script>
</head>
<body>
	<div layout:fragment="content">


		<!-- Content Header starts -->
		<section class="content-header">
			<h1>Manager - Assign Objectives to Assessee</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">Here</li>
			</ol>
		</section>
		<!-- Content Header ends -->

		<!-- Main content starts -->
		<section class="content">

			<!-- Manager header panel starts -->
			<div class="box">
				<div class="box-body">
			
					<form  id="myForm" method="post" action="#"
      th:action="@{/assessor/copyobjectives}"
      th:object="${copyObjectivesBean}">
						<div class="greybg-container">
							<div class="greybg-fields-container paddingleft0 paddingright0">
								<div class="col-md-4">
									<div class="form-group">
										<label for="accessmentperiodmanager" class="sr-only">Assessment
											Cycle</label> <select class="form-control" id="assessmentCycle"
											th:field="*{assessmentCycle}"
											style="padding-left: 0px; padding-right: 5px;">
											<option selected="selected" value="0">Assessment
												Cycle</option>
											<option th:each="cycle : ${assessmentcycles}"
												th:text="${cycle.description}" th:value="${cycle.id}">2015
												- H1</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="assessmentFromDate" class="sr-only">Assessment
											Period</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input type="text" id="assessmentFromDate"
												th:field="*{assessmentFromDate}" class="form-control"
												placeholder="From" readonly="readonly" style="background:#fff;" />
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="assessmentToDate" class="sr-only">&nbsp;</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input type="text" class="form-control" id="assessmentToDate"
												th:field="*{assessmentToDate}" placeholder="To" readonly="readonly" style="background:#fff;" />
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>

						<div class="row margintop20">
							<div class="col-md-12">
								<div class="form-group">
									<!-- <label for="managerprojectname" class="sr-only">Project
										Name</label> <input type="text" id="projectName"
										th:field="*{projectName}" class="form-control"
										placeholder="Project Name" /> -->
										
										
										<label for="managerprojectname" class="sr-only">Project
											Name</label> <select class="form-control" id="projectName"
											th:field="*{projectName}"
											style="padding-left: 0px; padding-right: 5px;">
											<option selected="selected" value="0">Project Name 
												</option>
											<option th:each="projects : ${projectList}"
												th:text="${projects.project_name}" th:value="${projects.id}">PMS
												</option>
										</select>
									
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="managerassessor" class="sr-only">Assessor</label> <select
										style="padding-left: 0px; padding-right: 5px;" id="assessor"
										th:field="*{assessor}" class="form-control">
										<option selected="selected" value="0">select Assessor</option>
										<option th:each="assessee : ${assesses}"
											th:text="${assessee.fullname}" th:value="${assessee.id}">Assessor
											one</option>
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="managerassessee" class="sr-only">Assessee</label> <select
										style="padding-left: 0px; padding-right: 5px;" id="assessee"
										th:field="*{assessee}" class="form-control">
										<option selected="selected" value="0">select Assessee</option>
										<option th:each="assessee : ${assesses}"
											th:text="${assessee.fullname}" th:value="${assessee.id}">Assessee
											one</option>
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="managerroles" class="sr-only">Roles</label> <select
										style="padding-left: 0px; padding-right: 5px;"
										id="assesseeRole" th:field="*{assesseeRole}"
										class="form-control">
										<option selected="selected" value="0">select Role</option>
										<option th:each="role : ${roles}" th:text="${role.title}"
											th:value="${role.id}">Role one</option>
									</select>
								</div>
							</div>

						</div>

						<div class="form-inline margintop30 text-center" id="copyObjectives">
							<div class="form-group">
								<button class="btn btn-primary btn-lg" name="type" value="role" type="submit" id="roleObjectives">
									<i class="fa fa-files-o"></i> Copy Role Objectives
								</button>
							</div>
							
							<div class="form-group">
								<!--  <button class="btn btn-info btn-green btn-lg" name="type" value="assessee" type="submit" id="employeeObjectives">
									<i class="fa fa-files-o"></i> Copy Other Employee
								</button>-->
								
								
								<button class="btn btn-info btn-green btn-lg popper" type="button" id="employeeObjectivesss" data-toggle="popover" data-pop="#popper-content" data-trigger="click">
									<i class="fa fa-files-o"></i> Copy Other Employee
								</button>
								
								
								<div class="popper-content" id="popper-content">
								<div class="form-group marginbottom5 pull-right">
									<button type="button" class="close btn-popclose" data-dismiss="popover" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<div class="clearfix"></div>
								<div class="form-group">
									<label class="sr-only">Select Assessee</label>
									<select id="otherAssesse" class="form-control" th:field="*{otherAssessee}">
											<option selected="selected" disabled="disabled" value="0">select Assessee</option>
										<option th:each="assessee : ${assesses}"
											th:text="${assessee.fullname}" th:value="${assessee.id}">Assessee
											one</option>
									</select>
								</div>
								 <div class="form-group margintop10"> 
								 	<!--onClick="submitForm(this,'employeeObjective');"  -->
									<button id="employeeObjective" name="type" value="assessee" type="submit"  class="btn btn-primary "><i class="fa fa-files-o"></i> Copy</button>
							 	</div> 
							</div>
								
								
							</div>
						</div>
					</form>

					<div class="box-body" id="sectionsBody">

						<hr class="margintop5 marginbottom20" />

						<div class="nav-tabs-custom margintop10 noboxshadow">


							<div class="scroller scroller-left">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</div>
							<div class="scroller scroller-right">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</div>
							<div class="wrapper-tabs">
								<ul class="nav nav-tabs list" id="myTab">
										<th:block th:each="sectionName, iterStat  : ${allSections}">
									<!-- th:each= "sectionName : ${allSections}"  th:text="${sectionName.getSection()}"	-->
	
	
	
									<th:block th:if="${iterStat.index}==0">
	
										<li class="active test" th:id="${iterStat.index}" th:name="${sectionName.getId()}"><a
											data-toggle="tab" th:text="${sectionName.getSection()}"
											th:id="'section'+${iterStat.index}" href="#par"
											th:name="${sectionName.getId()}">Performance</a></li>
	
									</th:block>
									<th:block th:if="${iterStat.index}!=0">
	
										<li class=" test" th:id="${iterStat.index}" th:name="${sectionName.getId()}"><a
											data-toggle="tab" th:text="${sectionName.getSection()}"
											th:id="'section'+${iterStat.index}" href="#par"
											th:name="${sectionName.getId()}">Competancy</a></li>
	
									</th:block>
	
								</th:block>
								</ul>
							</div>
							<div class="tab-content">
								<div id="par" class="tab-pane active">
											<div class="box-body" >
                                  <div id="addObjectiveform">
									<form action="#" id="objective" method="post"
										th:action="@{/assessor/addObjective}"
										th:object="${addObjectiveBean}" onsubmit="addObjective.disabled = true; return true;">
										<input type="hidden"  	class="form-control" id="inputAssessmentCycle" 	name="assessmentCycle" th:value="1" />
								<input type="hidden"  	class="form-control" id="inputAssessmentFromDate" 	name="assessmentFromDate" th:value="1" />
								<input type="hidden"  	class="form-control" id="inputAssessmentToDate" 	name="assessmentToDate" th:value="1" />
								<input type="hidden"  	class="form-control" id="inputProjectName" 	name="projectName" th:value="1" />
								<input type="hidden"  	class="form-control" id="inputAssessor" 	name="assessor" th:value="1" />
								<input type="hidden"  	class="form-control" id="inputAssesseeRole" 	name="assesseeRole" th:value="1" />
								<input type="hidden"  	class="form-control" id="inputAssessee" 	name="assessee" th:value="1" />
								
										<div id="hasError" class="form-group margintop10 marginbottom30"
											th:classappend="${#fields.hasErrors('objectiveDesc')}? 'has-error'">
											<div class="input-group input-group-lg">
												<input type="text" placeholder="Add objectives"
													class="form-control" id="objectiveDesc"
													th:field="*{objectiveDesc}" />
													 <input type="hidden"
													placeholder="Add objectives" class="form-control"
													id="addObjectiveSectionID" name="addObjectiveSectionID"
													th:value="${sectionToLoad}" /> <span class="input-group-btn"> 
										
													<input
													type="hidden" placeholder="Add objectives"
													class="form-control" id="addObjectiveSectionName"
													name="addObjectiveSectionName" th:value="1" />
													class="input-group-btn">
													<button type="submit" id="addObjective" class="btn btn-info btn-lg button">
														<i class="fa fa-plus">&nbsp;</i>
													</button>
												</span>
											</div>
											<span id="span" class="help-block"
												th:if="${#fields.hasErrors('objectiveDesc')}"
												th:errors="*{objectiveDesc}">Incorrect Section</span>
										</div>
									</form>
									</div>
									<div id="messageBlock">
										<th:block th:if="${objectiveMessage != null}">
											<!-- /* The message code is returned from the @Controller */ (${messages.name})-->
											<!-- <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(statusmsg)}, message=#{${statusmsg}(${useradded})} )">&nbsp;</div> -->
											<div
												th:replace="fragments/alert :: alert (type=${objectiveMessage.type}, message=#{${objectiveMessage.text}  })">&nbsp;</div>
										</th:block>
									</div>
									<div>
										<input type="hidden" id="SelectedSectionObjectives"
											th:value="${allObjectives}" /> <input type="hidden"
											id="SelectedSection" th:value="66" />
									</div>
									<div id="sectionObjectives-prnt">
										<div id="sectionObjectives" th:if="${allObjectives != null}"
											th:each="objectiveDesc, iterStat  : ${allObjectives}">
											<form action="#" id="deleteObjective" method="post"
												th:action="@{/assessor/deleteObjective}">
												<div
													class="panel panel-default marginbottom10 panel-objective"
													id="objective-one">
													<div class="panel-body">
														<p class="pull-left" id="objectiveDesc">
															<span th:id="'objectiveDesc'+${iterStat.index}"
																th:text="${objectiveDesc.getDescription()}">Delivering
																to the Customer's satisfaction/ expectation.</span>
														</p>

														<input type="hidden"
															th:id="'objectiveId'+${iterStat.index}"
															name="deleteObjectiveId"
															th:value="${objectiveDesc.getId()}" /> <input
															type="hidden" th:id="'sectionId'+${iterStat.index}"
															name="SectionIdSelected" value="1" />
														<div class="pull-right form-inline">
															<!-- <span id="'weightage'+${iterStat.index}" class="label label-default objective-weightage">0</span> -->
															<select class="form-control objective-weightage">
																<option>1</option>
																<option>2</option>
																<option>3</option>
																<option>4</option>
																<option>5</option>
																<option>6</option>
															</select>
															<button type="button" th:id="${iterStat.index}"
																data-target="#editobjective" data-toggle="modal"
																class="btn btn-info btn-edit">
																<i class="fa fa-pencil"></i>
															</button>
															<button style="padding: 0px 6px;" type="submit"
																data-target="#objective-one" aria-label="Close"
																class="btn btn-danger btn-close">
																<i class="fa fa-times"></i>
															</button>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								</div>
							</div>
							
							
						</div>

						<div class="row">
							<div class="col-md-12 margintop30 text-center">
								<button type="submit" class="btn btn-primary btn-lg">
									<i class="fa fa-check"></i>Save
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Manager header panel ends -->


		</section>
		<!-- Main content ends -->
		
		

		<!-- Modal Starts -->
		<div class="modal fade" id="editobjective" tabindex="-1" role="dialog"
			aria-labelledby="editobjectivemodal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="#" id="objective" method="post"
						th:action="@{/assessor/saveObjective}">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="editobjectivemodal">Edit
								Objectives</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label class="sr-only">Edit Objective</label>
										<textarea id="textAreas" name="textAreas" th:row="2"
											class="form-control"></textarea>
										<input type="hidden" id="updateSectionid"
											name="updateSectionid" value="text" />
									</div>
								<!-- 	<div class="form-group">
										<label for="accessmentperiodmanager" class="sr-only">Weightage</label>
									 	<select class="form-control" id="weightage" name="weightage">
											<option selected="selected" value="0">Select Weightage</option>
											<option th:each="weight : ${allWeightages}" th:text="${weight.weightage}" th:value="${weight.id}">1</option>
												
										</select>
									</div> -->
								 	<input type="hidden" id="updateobjectiveId" name="updateobjectiveId" value="text" />
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary saveEdit">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Modal ends -->
		
		<!-- Alert popup starts -->

		<div class="modal fade" id="modal_alert_messages" tabindex="-1" role="dialog"
			aria-labelledby="alertmodal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body" id="alertmodal">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<p id="alertMessage">Alert Text csdc vsdvcsdc vsdvcsd</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					  </div>
				</div>
			</div>
		</div>
		
		<!-- Alert popup ends -->
		
		
		
		
	</div>
</body>
</html>
